<div class="text-center">
  <h1 class="fw-bold mt-2 main-title">Healthcare Application</h1>
</div>

<div class="container">
  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card card-border">
        <div class="card-body">
          <h5 class="card-title fw-bold card-title">User</h5>
          <p class="card-text">Manage the details of all registered users.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-border">
        <div class="card-body">
          <h5 class="card-title fw-bold card-title">Patient</h5>
          <p class="card-text">
            Access patient profiles and manage health records.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card card-border" routerLink="/staff">
        <div class="card-body">
          <h5 class="card-title fw-bold card-title">Staff</h5>
          <p class="card-text">
            Check information about healthcare professionals.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-border">
        <div class="card-body">
          <h5 class="card-title fw-bold card-title">Specialization</h5>
          <p class="card-text">Areas of expertise for better patient care.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 text-center">
    <div class="col">
      <div class="card card-border" routerLink="/operationtype">
        <div class="card-body">
          <h5 class="card-title fw-bold card-title">Operation Type</h5>
          <p class="card-text">
            Types of medical operations suited to patient needs.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-border" routerLink="/operationrequest">
        <div class="card-body">
          <h5 class="card-title fw-bold card-title">Operation Request</h5>
          <p class="card-text">
            Submit and track requests for scheduled operations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
