<div class="text-center">
  <h1 class="fw-bold mt-2 main-title mb-4">Operation Type</h1>
</div>

<div class="container">
  <p-table [value]="filteredOperationTypeList" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '20rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-columnFilter type="text" field="name" placeholder="Search by name" ariaLabel="Filter Name"
            [matchModeOptions]="matchModeOptions" matchMode="contains" />
        </th>
        <th>
          <input id="specializationFilter" type="text" class="form-control" [(ngModel)]="specializationFilter"
            (input)="onSpecializationFilterChange()" placeholder="Search by specialization" />
        </th>
        <th>
          <div class="d-flex align-items-center">
            <span class="me-3">Status</span>
            <p-columnFilter type="boolean" field="active" placeholder="Search by status" ariaLabel="Filter status"
              [matchModeOptions]="matchModeOptions" matchMode="equals" />
          </div>
        </th>

        <th></th>
        <th></th>
      </tr>
      <tr>
        <th>Name</th>
        <th>Preparation time (min)</th>
        <th>Surgery time (min)</th>
        <th>Cleaning time (min)</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-opType>
      <tr>
        <td>{{ opType.name }}</td>
        <td>{{ opType.anesthesiaPatientPreparationInMinutes }}</td>
        <td>{{ opType.surgeryInMinutes }}</td>
        <td>{{ opType.cleaningInMinutes }}</td>
        <td class="text-center">
          <i class="pi pi-eye me-3" (click)="openDetailsModal(opType)"></i>
          <i class="pi pi-pencil me-3"></i>
          <i class="pi pi-trash"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Operation Type" [(visible)]="showDetails" [modal]="true" [style]="{ width: '50vw' }"
  [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <h4 class="fw-bold">{{ currentOpType?.name }}</h4>
  </ng-template>
  <div class="container">
    <h5 class="title-separator separator">General Information</h5>
    <hr class="line-separator separator" />
    <div class="row">
      <label for="name"><b>Name:</b> {{ currentOpType?.name }}</label>
      <label for="preparation" class="mt-2"><b>Anesthesia/Preparation:</b> {{
        currentOpType?.anesthesiaPatientPreparationInMinutes }} min</label>
      <label for="surgery" class="mt-2"><b>Surgery:</b> {{ currentOpType?.surgeryInMinutes }} min</label>
      <label for="cleaning" class="mt-2"><b>Cleaning:</b> {{ currentOpType?.cleaningInMinutes }} min</label>
      <label for="requiredStaff" class="mt-2"><b>Required Staff:</b>
      </label>
      <ul class="ps-5">
        <li *ngFor="let reqStaff of currentOpType?.requiredStaff">
          {{ reqStaff.total }} {{ reqStaff.specialization }}
        </li>
      </ul>
      <label for="active" class="mt-2"><b>Active:</b> {{ currentOpType?.active }}</label>
    </div>
  </div>
</p-dialog>