<div class="text-center">
  <h1 class="fw-bold mt-2 main-title">Operation Type</h1>
</div>
<div class="container">
  <p-table [value]="operationTypeList" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '20rem' }">
    <ng-template pTemplate="header">
      <tr class="text-center">
        <th>Name</th>
        <th>Active</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-opType>
      <tr>
        <td class="text-center">{{ opType.name }}</td>
        <td class="text-center">{{ opType.active }}</td>
        <td class="text-center">
          <i class="pi pi-eye me-3" (click)="openDetailsModal(opType)"></i>
          <i class="pi pi-pencil me-3"></i>
          <i class="pi pi-trash"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog header="Operation Type" [(visible)]="showDetails" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <ng-template pTemplate="header">
    <h4 class="fw-bold">{{ currentOpType?.name }}</h4>
  </ng-template>
  <div class="container">
    <h5 class="title-separator">General Information</h5>
    <hr class="line-separator" />
    <div class="row">
      <label for="role"><b>Role:</b> {{ currentOpType?.name }}</label>
      <label for="specialization" class="mt-2"><b>Specialization:</b> {{ currentOpType?.name }}</label>
      <label for="licenseNumber" class="mt-2"><b>License Number:</b> {{ currentOpType?.name }}</label>
      <label for="mechanographicNumber" class="mt-2"><b>Mechanographic Number:</b>
        {{ currentOpType?.name }}</label>
      <label for="active" class="mt-2"><b>Active:</b> {{ currentOpType?.name }}</label>
      <label for="availabilitySlots" class="mt-2"><b>Availability Slots:</b>
      </label>
      <ul>
        <!-- <li *ngFor="let slot of currentStaff?.availabilitySlots" class="slot-list">
          {{ slot }}
        </li> -->
      </ul>
    </div>
    <h5 class="title-separator mt-4">Contact Information</h5>
    <hr class="line-separator" />
    <div class="row">
      <label for="email"><b>Email:</b> {{ currentOpType?.name }}</label>
      <label for="phone" class="mt-2"><b>Phone:</b> {{ currentOpType?.name }}</label>
    </div>
  </div>
</p-dialog>