body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
  background-color: #000f; /* Optional: background color */
}

.status-box {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4CAF50; /* Green background for status box */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.login-container {
  width: 300px;
  background-color: #0077b6; /* Blue background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
}

.form-group {
  margin-bottom: 15px;
}

input[type="email"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 5px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

button {
  width: 70%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login-button {
  background-color: #4CAF50;
  color: white;
}

.register-button {
  background-color: #f44336;
  color: white;
}
