<div class="text-center">
    <h1 class="fw-bold mt-2 main-title mb-4">Patient List</h1>
  </div>
  
  <div class="container">
    <p-table [value]="patientList" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '20rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Medical Record Number</th>
          <th>Date of Birth</th>
        </tr>
      </ng-template>
  
      <ng-template pTemplate="body" let-patient>
        <tr>
          <td>{{ patient.fullName }}</td>
          <td>{{ patient.email }}</td>
          <td>{{ patient.medicalRecordNumber }}</td>
          <td>{{ patient.dateOfBirth | date:'dd/MM/yyyy' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  