<p-dialog
  header="Staff"
  [visible]="showEdit"
  (visibleChange)="showEditChange.emit($event)"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h4 class="fw-bold">Edit Staff Profile</h4>
  </ng-template>

  <form [formGroup]="editStaffForm" (ngSubmit)="editStaff()">
    <span class="p-float-label mt-4">
      <p-inputNumber
        formControlName="phone"
        autoWidth="false"
        [maxlength]="9"
        id="phone"
      />
      <label for="phone">Phone Number *</label>
    </span>
    <p-message
      *ngIf="
        editStaffForm.get('phone')?.dirty &&
        editStaffForm.get('phone')?.hasError('required')
      "
      severity="error"
      text="Field is required"
    ></p-message>

    <p-dropdown
      class="mt-4 d-block"
      formControlName="specialization"
      placeholder="Specialization"
      [options]="specializationsNames"
      [showClear]="true"
      autoWidth="false"
      [style]="{ minWidth: '60px', width: '50%' }"
    />

    <span
      class="p-float-label mt-4 mb-2"
      formArrayName="availabilitySlots"
      [style]="{ minWidth: '60px', width: '50%' }"
      *ngFor="
        let slot of editStaffForm.controls.availabilitySlots.controls;
        index as i
      "
    >
      <p-calendar
        selectionMode="range"
        [showTime]="true"
        [formControl]="slot"
        autoWidth="false"
        hideOnDateTimeSelect="false"
        [style]="{ minWidth: '60px', width: '100%' }"
        [showButtonBar]="true"
      />
      <label for="availabilitySlots">Availability Slot</label>
    </span>
    <p-button
      label="Add Slot"
      icon="pi pi-plus"
      class="me-3 ms-3"
      (click)="addAvailabilitySlotToEdit()"
    />

    <p-button
      class="mt-4 d-block"
      type="Submit"
      label="Submit"
      [disabled]="editStaffForm.invalid"
      id="buttonSubmit"
    />
  </form>
</p-dialog>
