<div class="text-center">
  <h1 class="fw-bold mt-2 main-title mb-4">
    Staff
    <p-button icon="pi pi-plus" class="me-3 ms-3" (click)="openCreateModal()" />
  </h1>
</div>

<div class="container">
  <p-messages [(value)]="message" />

  <p-table
    [value]="staffList"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '20rem' }"
    [paginator]="true"
    [rows]="5"
    [rowsPerPageOptions]="[5, 10, 20]"
    [totalRecords]="totalRecords"
    [lazy]="true"
    (onLazyLoad)="loadStaffLazy($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Specialization</th>
        <th></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter
            type="text"
            field="name"
            placeholder="Search by name"
            ariaLabel="Filter Name"
            [matchModeOptions]="matchModeOptions"
            matchMode="contains"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="email"
            placeholder="Search by email"
            ariaLabel="Filter Email"
            [matchModeOptions]="matchModeOptions"
            matchMode="contains"
          />
        </th>
        <th>
          <p-columnFilter
            type="text"
            field="specialization"
            placeholder="Search by specialization"
            ariaLabel="Filter Specialization"
            [matchModeOptions]="matchModeOptions"
            matchMode="contains"
          />
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-staff>
      <tr>
        <td>{{ staff.name }}</td>
        <td>{{ staff.email }}</td>
        <td>{{ staff.specialization }}</td>
        <td class="text-center">
          <p-button
            icon="pi pi-eye"
            class="me-2"
            [text]="true"
            (click)="openDetailsModal(staff)"
          />
          <p-button
            icon="pi pi-pencil"
            class="me-2"
            [disabled]="!staff.active"
            [text]="true"
          />
          <p-button
            icon="pi pi-trash"
            class="me-2"
            [text]="true"
            [disabled]="!staff.active"
            (click)="openDeactivateModal(staff)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Staff"
  [(visible)]="showCreate"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h4 class="fw-bold">Create Staff Profile</h4>
  </ng-template>
  <div>Fields marked * are required</div>

  <form [formGroup]="createStaffForm" (ngSubmit)="addStaff()">
    <span class="p-float-label mt-4">
      <input pInputText formControlName="name" autoWidth="false" />
      <label for="name">Name *</label>
    </span>
    <p-message
      *ngIf="
        createStaffForm.get('name')?.dirty &&
        createStaffForm.get('name')?.hasError('required')
      "
      severity="error"
      text="Field is required"
    ></p-message>

    <span class="p-float-label mt-4">
      <p-inputNumber formControlName="licenseNumber" autoWidth="false" />
      <label for="licenseNumber">License Number *</label>
    </span>
    <p-message
      *ngIf="
        createStaffForm.get('licenseNumber')?.dirty &&
        createStaffForm.get('licenseNumber')?.hasError('required')
      "
      severity="error"
      text="Field is required"
    ></p-message>

    <span class="p-float-label mt-4">
      <p-inputNumber formControlName="phone" autoWidth="false" />
      <label for="phone">Phone Number *</label>
    </span>
    <p-message
      *ngIf="
        createStaffForm.get('phone')?.dirty &&
        createStaffForm.get('phone')?.hasError('required')
      "
      severity="error"
      text="Field is required"
    ></p-message>

    <span class="p-float-label mt-4">
      <input pInputText formControlName="specialization" autoWidth="false" />
      <label for="specialization">Specialization</label>
    </span>

    <span class="p-float-label mt-4">
      <input pInputText formControlName="availabilitySlots" autoWidth="false" />
      <label for="availabilitySlots">Availability Slots</label>
    </span>

    <p-dropdown
      class="mt-4 d-block"
      placeholder="Role *"
      formControlName="role"
      [options]="roles"
      autoWidth="false"
      [style]="{ minWidth: '60px', width: '35%' }"
    />
    <p-message
      *ngIf="
        createStaffForm.get('role')?.dirty &&
        createStaffForm.get('role')?.hasError('required')
      "
      severity="error"
      text="Field is required"
    ></p-message>

    <span class="p-float-label mt-4">
      <p-calendar view="year" dateFormat="yy"
      formControlName="recruitmentYear" autoWidth="false" />
      <label for="recruitmentYear">Recruitment Year *</label>
    </span>
    <p-message
      *ngIf="
        createStaffForm.get('recruitmentYear')?.dirty &&
        createStaffForm.get('recruitmentYear')?.hasError('required')
      "
      severity="error"
      text="Field is required"
    ></p-message>

    <p-button
      class="mt-4 d-block"
      type="Submit"
      label="Submit"
      [disabled]="createStaffForm.invalid"
    />
  </form>
</p-dialog>

<p-dialog
  header="Staff"
  [(visible)]="showDetails"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h4 class="fw-bold">{{ currentStaff?.name }}</h4>
  </ng-template>

  <div class="container">
    <h5 class="title-separator separator">General Information</h5>
    <hr class="line-separator separator" />

    <div class="row">
      <label for="role"> <b>Role:</b> {{ currentStaff?.role }}</label>

      <label
        for="specialization"
        class="mt-2"
        *ngIf="currentStaff?.specialization"
        ><b>Specialization: </b> {{ currentStaff?.specialization }}</label
      >
      <label for="licenseNumber" class="mt-2" *ngIf="currentStaff?.active"
        ><b>License Number: </b>{{ currentStaff?.licenseNumber }}</label
      >
      <label for="mechanographicNumber" class="mt-2"
        ><b>Mechanographic Number:</b>
        {{ currentStaff?.mechanographicNum }}</label
      >
      <label for="active" class="mt-2"
        ><b>Active: </b>
        <span *ngIf="currentStaff?.active">Yes</span>
        <span *ngIf="!currentStaff?.active">No</span>
      </label>
      <label
        for="availabilitySlots"
        class="mt-2"
        *ngIf="currentStaff?.availabilitySlots?.length > 0"
        ><b>Availability Slots: </b>
        <ul class="ps-4">
          <li *ngFor="let slot of currentStaff?.availabilitySlots">
            {{ slot }}
          </li>
        </ul>
      </label>
    </div>

    <h5 class="title-separator mt-4 separator">Contact Information</h5>
    <hr class="line-separator separator" />

    <div class="row">
      <label for="email"><b>Email:</b> {{ currentStaff?.email }}</label>
      <label for="phone" class="mt-2" *ngIf="currentStaff?.phone"
        ><b>Phone: </b> {{ currentStaff?.phone }}
      </label>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Staff"
  [(visible)]="deactivate"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <ng-template pTemplate="header">
    <h4 class="fw-bold">Deactivate Staff Profile</h4>
  </ng-template>
  <div class="mt-2 mb-4">Are you sure you want to deactivate this staff?</div>
  <p-button
    label="Confirm"
    icon="pi pi-check"
    class="me-3"
    [text]="true"
    (click)="deactivateStaff()"
  />

  <p-button
    label="Cancel"
    icon="pi pi-times"
    class="me-3"
    [text]="true"
    severity="danger"
    (click)="deactivate = false"
  />
</p-dialog>
